.search-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.search-bar input {
  all: unset;
  width: 100%;
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 2rem;
  background-color: var(--popover);
  transition: background-color var(--transition-timing);
  cursor: pointer;
}

.search-bar input:focus {
  background-color: var(--secondary);
}

.search-bar svg {
  position: absolute;
  font-size: 1.25rem;
  pointer-events: none;
}

.search-icon {
  left: 20px;
}

.bell-icon {
  right: 20px;
}
