:root {
  --background: #eeeeee;
  --foreground: #121212;

  --card: #d0d0d0;
  --card-foreground: #343434;

  --popover: #e0e0e0;
  --popover-foreground: #242424;

  --primary: #00778b;
  --primary-foreground: #eeeeee;

  --secondary: #d0d0d0;
  --secondary-foreground: #343434;

  --muted: #3434344b;
  --muted-foreground: #595959;

  --accent: #00c7eb;
  --accent-foreground: #121212;

  --danger: #ff424221;
  --danger-foreground: #b10202;

  --border: #d0d0d0;
  --scrollbar: #808080;
  --selection: #808080;
  --shadow:
    0 12px 40px -10px #0f172a26, 0 4px 12px -2px #0f172a14,
    0 0 0 1px #3b82f61a;
  --glass: #eeeeee99;
  --hero-gradient:
    #f8fbff 56%, #ebf3fa 65%, #dcebf6 75%, #cde2f1 84%, #bedaee 93%,
    #afd1e8 100%;

  --radius: 0.5rem;

  --transition-timing: 0.2s ease;
}

:root.dark {
  --background: #121212;
  --foreground: #eeeeee;

  --card: #343434;
  --card-foreground: #d0d0d0;

  --popover: #242424;
  --popover-foreground: #e0e0e0;

  --primary: #00adcb;
  --primary-foreground: #000000;

  --secondary: #343434;
  --secondary-foreground: #d0d0d0;

  --muted: #7272724b;
  --muted-foreground: #9c9c9c;

  --accent: #00cbee;
  --accent-foreground: #121212;

  --danger: #ff424221;
  --danger-foreground: #ff4242;

  --border: #484848;
  --scrollbar: #808080;
  --selection: #808080;
  --shadow:
    0 12px 40px #0206174d, 0 0 120px #4f46e514, 0 0 4px 2px #ffffff1a;
  --glass: #06080d99;
  --hero-gradient:
    #121212 56%, #103547 65%, #2c6b87 75%, #6c9bb7 84%, #bad0e9 93%,
    #eeeeee 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Tahoma, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground);
}

::-moz-selection {
  background-color: var(--selection);
}

::selection {
  background-color: var(--selection);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
