.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  color: var(--foreground);
}

.link {
  background-color: var(--popover);
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  transition: background-color var(--transition-timing);
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    background: var(--secondary);
  }
}
